<div class="container mt-5 mb-5">
    <div class="card col-sm-6 d-sm-flex">
        <div class="row">
            <div class="col ">
                <div class=" card-header bg-grey text-dark text-center">
                    <p class="mt-2 mb-2"><b>Add New Book here</b></p>
                    <div [hidden]="alertclass==null" [class]="alertclass">
                        <h2>{{errError}}</h2>
                        <h1>{{errmsg}}</h1>
                        <div [hidden]="ResponseMsg==null">
                            <h1>{{ResponseMsg}}</h1>
                        </div>
                    </div>
                </div>
                <div class="card-body  row d-sm-flex">
                    <form [formGroup]="bookform" (ngSubmit)="submit()" method="post">
                        <div class="col-sm-6 mx-auto mb-1 mt-3">
                            <input type="text" name="name" formControlName="name" placeholder="Enter Book Name">
                            <span></span><br><br>
                            <input type="text" name="authore" formControlName="authore" placeholder="Authore Name">
                            <span></span><br><br>
                            <input type="number" name="price" formControlName="price" placeholder="Enter Book Price">
                            <span></span><br><br>
                            <div class="row ">
                                <button type="submit" [disabled]="bookform.invalid"
                                    class="col btn btn-primary">Add</button>
                                <button type="reset" class="col btn btn-dark">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>